@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    background-color: rgb(12, 12, 12);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    width: max-content;
}

body::-webkit-scrollbar{
    background-color: rgb(12, 12, 12);
    height: 9px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(70, 70, 70);
    border-radius: 15px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgb(75, 75, 75);
}/* estilizar a scroolbar */

main{
    display: flex;
    justify-content: space-around;
    column-gap: 25px;
}

.thumb button img{
    width: 200px;
    height: 200px;
    border-radius: 15px;
}
.thumb button{        
    cursor: pointer;
}
.thumb button:hover{
    opacity: 80%;
    transition: 0.3s;
}

.inf__musica{
    & .nome__music{
        font-size: 1em;
        font-family: 'Josefin Sans';
    }
    & .nome__cantor{
        font-size: 0.8em;
        font-family: 'Roboto';
        font-weight: 300;
        opacity: 80%;
    }
}
